/* 
    Author     : Janisch D.
*/
@font-face {
    font-family: 'Caudex-Bold';
    src: url("../font/Caudex/Caudex-Bold.ttf");
}

@font-face {
    font-family: 'Caudex-Regular';
    src: url("../font/Caudex/Caudex-Regular.ttf");
}

@font-face {
    font-family: 'MontserratAlternates-ExtraLight';
    src: url("../font/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf");
}

@font-face {
    font-family: 'MontserratAlternates-Light';
    src: url("../font/Montserrat_Alternates/MontserratAlternates-Light.ttf");
}

@font-face {
    font-family: 'MontserratAlternates-Medium';
    src: url("../font/Montserrat_Alternates/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: 'MontserratAlternates-Bold';
    src: url("../font/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: 'MontserratAlternates-SemiBold';
    src: url("../font/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
}

/*Large Devices, Desktop*/
html {
    height: 100vh;
}

/*for sticky-footer*/
#page-content {
    flex: 1 0 auto;
    display: none;
}

#sticky-footer {
    flex-shrink: none;
    margin-bottom: 20px;
    display: none;
    padding: 0 15px;
}

body {
    background: url("../img/backgroundNewOriginal-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 20px;
    height: 100%;
}

#projectManagement {
    font-family: 'MontserratAlternates-Medium';
    font-size: 120%;
    text-align: right;
    color: black;
}

#comingSoon {
    font-family: 'Caudex-Regular';
    font-size: 400%;
    text-align: center;
    color: black;
    margin: 150px;
}

#contact {
    font-family: 'MontserratAlternates-Medium';
    color: white;
    /*    font-size: 1vw;*/
}

#name {
    font-family: 'MontserratAlternates-Bold';
    color: white;
}

#logo {

    max-width: 25%;
    height: auto;
    margin: 10px;
    display: block;
    text-align: center;
}


/*Small devices (landscape phones, tablets*/
@media screen and (max-width: 992px) {

/*    body {
        background: url("../img/backgroundNewMobile-min.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin: 20px;
        height: 100%;
    }*/

    body:after{
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        left:0;
        right:0;
        z-index:-1; /* needed to keep in the background */
        background: url("../img/backgroundNewMobile-min.jpg") center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #mobileLogoParent {
        margin: 50px 50px 50px 0px;
    }

    #logo {
        max-width: 80%;
        height: auto;
        margin: 0;
        text-align: center;
    }

    #projectManagement {

        margin: 50px 0 50px 50px;
        text-align: right;
    }

    #footerDistance {
        margin-top: 10px;
    }
}

/*Extra small devices (portrait phones, less than 576px*/
@media screen and (max-width: 576px) {

    #logo {

        max-width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    #mobileLogoParent {
        margin: 50px 50px 50px 50px;
        display: block; 
    }

    #projectManagement {
        font-family: 'MontserratAlternates-Medium';
        display: block;
        font-size: 100%;
        text-align: center;
        color: black;
        margin: 50px;
    }

    #comingSoon {
        font-family: 'Caudex-Regular';
        text-align: center;
        color: black;
        margin: 50px;
        line-height: 1.0;
    }
    #contact {       
        color: white;

    }
}